.marker-info {
    display: none;
    visibility: hidden;
}

.marker:hover .marker-info {
    animation: 0.5s fadeIn;
    animation-fill-mode: forwards;
    display: block;
}

.marker:hover .marker-icon {
    visibility: hidden;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}